@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

a {
  text-decoration: none; }

.hr-top {
  height: auto;
  min-height: 75px;
  background: #091546;
  position: fixed;
  width: 100%;
  z-index: 199; }

.hr-top__container {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.hr-top__logo {
  min-width: 70px; }

.hr-top__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px; }

.hr-top__name__first {
  margin-bottom: 0px;
  color: #fff;
  white-space: nowrap; }

.hr-top__name__second {
  margin-bottom: 0px;
  color: #3182b4; }

.navbar__menu {
  width: 100%;
  list-style: none;
  margin-bottom: 0; }

.navbar__items {
  white-space: nowrap;
  color: #fff;
  margin-right: 10px;
  position: relative; }

.navbar__items a {
  color: #fff; }

.navbar__items a:hover {
  text-decoration: none; }

.hr-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.hr-phone__first {
  color: #fff;
  margin-bottom: 0;
  white-space: nowrap; }

.hr-phone__second {
  color: #3182b4 !important;
  margin-bottom: 0;
  text-decoration: underline !important;
  white-space: nowrap;
  cursor: pointer; }

.header {
  min-height: 970px;
  background: url("../img/facehd.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-bottom: 10px;
  position: relative; }

.face {
  padding-top: 125px; }

.headline {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #091546;
  font-weight: bold; }

.postline {
  text-align: center;
  color: #091546;
  font-family: "Roboto", sans-serif; }

.endline {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif; }

.face__container {
  min-height: 540px; }

.face__list__item {
  position: relative; }

.face__list__item__left {
  font-weight: bold; }

.face__list__item__right {
  text-align: right;
  margin-right: 40px; }

.face__list__item__left:before {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0;
  background: #fcdb04; }

.face__list__item__right:after {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  right: -50px;
  top: 0;
  background: #3fa6dd; }

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.face__form {
  min-height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 15px 25px 15px;
  background: #fff;
  position: relative;
  z-index: 2;
  margin-top: 30px;
  margin-bottom: 30px; }

.face__form:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  pointer-events: none; }

.face__form__headline {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0; }

.face__form__alert {
  margin-bottom: 0;
  text-align: center; }

.face__form__input {
  outline: none;
  border-radius: 4px;
  border: 2px solid black;
  height: 40px;
  padding-left: 15px; }

.face__form__textarea {
  outline: none;
  border-radius: 4px;
  border: 2px solid black;
  resize: none;
  height: 90px;
  padding-left: 15px;
  padding-top: 10px; }

.face__form__submit {
  border: none;
  background: #3fa6dd;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  cursor: pointer; }

.s-1 {
  min-height: 940px;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 20px; }

.s-1__headline {
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase; }

.s-1__chief__top {
  margin-bottom: 70px; }

.s-1__chief__top__text, .s-1__chief__bot__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.s-1__chief__top__photo {
  min-height: 310px;
  background: url("../img/chieftop.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  float: left; }

.s-1__chief__bot__photo {
  min-height: 310px;
  background: url("../img/chiefbot.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.s-1__chief__bot__text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

/*Секция 2*/
.s-2 {
  min-height: 800px;
  background: url("../img/s2bgmin.jpg");
  background-position: 100% 100%;
  background-repeat: repeat;
  padding-top: 60px;
  padding-bottom: 20px; }

.s-2__headline {
  text-align: center;
  margin-bottom: 70px;
  color: #091546;
  text-transform: uppercase; }

.s-2__container__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 170px; }

.s-2__container__point__items {
  color: #091546;
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 24px;
  cursor: pointer;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 55px; }

.s-2__container__point__items p {
  margin-bottom: 0; }

.s-2__container__point__items:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 50%;
  border: 2px solid #7b212a;
  background: #f8e4be; }

.s-2__container__point__items__active {
  background: -webkit-gradient(linear, left bottom, left top, from(#ecc26f), to(#ecdeaf));
  background: linear-gradient(to top, #ecc26f, #ecdeaf);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  z-index: 2; }

.s-2__container__point__items__active:after {
  content: '';
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 600px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ecc26f), to(#ecdeaf));
  background: linear-gradient(to top, #ecc26f, #ecdeaf); }

.s-2__container__point__items__active p {
  z-index: 3; }

.s-2__container__point__items__active:before {
  display: none; }

.s-2__container__img {
  width: 390px;
  height: 390px;
  background: url("../img/interactive.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 99; }

.s-2__container__desc {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.s-2__container__desc__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.s-2__container__desc__headline {
  font-family: "Roboto", sans-serif;
  color: #091546;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0; }

.s-2__container__desc__par {
  font-family: "Roboto", sans-serif;
  color: #091546;
  font-style: italic;
  font-size: 20px; }

.s-2__container__desc__link {
  font-family: "Roboto", sans-serif;
  color: #5785a9;
  text-decoration: underline;
  font-size: 16px;
  font-style: italic; }

/*Секция 3 */
.s-3 {
  min-height: 850px;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 20px; }

.s-3__headline {
  text-align: center;
  margin-bottom: 70px;
  color: #091546;
  text-transform: uppercase; }

.s-3__item {
  min-height: 610px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fcdb05), to(#fde880));
  background: linear-gradient(to top, #fcdb05, #fde880);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  padding-right: 20px;
  padding-left: 20px; }

.s-3__item__headline {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 30px; }

.s-3__item__list {
  list-style: inside; }

.s-3__list__point {
  font-size: 16px; }

.s-3__item__btn {
  position: absolute;
  bottom: 30px;
  width: 250px;
  height: 40px;
  border: none;
  background: #3fa6dd;
  color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer; }

/*Секция 4*/
.s-4 {
  min-height: 1530px;
  background: #aae0fc;
  padding-top: 60px;
  padding-bottom: 20px; }

.s-4__headline {
  text-align: center;
  margin-bottom: 70px;
  color: #091546;
  text-transform: uppercase; }

.s-4__label {
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #091546;
  white-space: nowrap; }

.s-4__label__active {
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

.s-4__container {
  min-height: 330px;
  background: #fff; }

.s-4__container__min {
  min-height: 120px; }

.s-4__header {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #091546;
  padding-left: 0 !important; }

.s-4__container__par {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #091546;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.s-4__container__list {
  list-style: none;
  padding-left: 20px; }

.s-4__container hr {
  background: #091546; }

.s-4__list__item {
  color: #091546;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.s-4__table {
  margin-bottom: 20px; }

.s-4__headline__second {
  margin-top: 40px; }

.ie__container {
  display: none; }

.oe__container {
  display: none; }

.oe__container__active {
  display: block; }

.ie__container__active {
  display: block; }

.ie__container__min {
  display: none; }

.ie__container__min__active {
  display: block; }

.oe__container__min {
  display: none; }

.oe__container__min__active {
  display: block; }

/*Секция 5*/
.s-5 {
  min-height: 1530px;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 20px; }

.s-5__headline {
  text-align: center;
  margin-bottom: 70px;
  color: #091546;
  text-transform: uppercase; }

.s-5__separate {
  background: #3fa6dd;
  min-height: 70px; }

.s-5__separate__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.s-5__table {
  border: 1px solid black; }

.s-5__separate__par {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-left: 0 !important; }

.s-5__table__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.s-5__table__td {
  border: 1px solid black;
  min-height: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #091546;
  background: #aae0fc; }

.s-5__table__td:first-child {
  background: #fcdd19;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0; }

.s-5__table__td:nth-child(2) {
  background: #fcdd19;
  padding-left: 0;
  text-align: center; }

.s-5__gutters {
  padding: 0px !important;
  margin-top: 20px;
  margin-bottom: 40px; }

.s-5__bold > div {
  font-weight: bold;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px; }

.s-5__end > div {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 70px;
  text-align: left; }

.s-5__pretable {
  font-size: 18px;
  padding-left: 0px !important;
  margin-bottom: 0px;
  margin-top: 10px; }

.s-5__posttable {
  padding-left: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #091546; }

.s-5__list {
  padding-left: 0px;
  list-style: inside; }

.s-5__list li {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #091546; }

.s-5__postpar {
  color: #091546;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-left: 0; }

/*Секция 6*/
.s-6 {
  min-height: 1000px;
  background: #f2f8fc;
  padding-top: 60px;
  padding-bottom: 20px; }

.s-6__headline {
  text-align: center;
  margin-bottom: 70px;
  color: #091546;
  text-transform: uppercase; }

.s-6__canvas {
  width: 1040px;
  height: 680px;
  background: url("../img/canv.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0%; }

.s-6__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.s-6__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.s-6__item {
  min-height: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.s-6__number {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 140px; }

#s-6-one {
  background: url("../img/circle/one.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#s-6-three {
  background: url("../img/circle/three.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#s-6-two {
  background: url("../img/circle/two.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

#s-6-four {
  background: url("../img/circle/four.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

#s-6-five {
  background: url("../img/circle/five.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#s-6-six {
  background: url("../img/circle/six.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

#s-6-seven {
  background: url("../img/circle/seven.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.s-6__text h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0; }

.s-6__text p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 0; }

.s-6__item {
  display: none; }

/*Секция 7*/
.s-7 {
  min-height: 750px;
  background: #white;
  padding-top: 60px;
  padding-bottom: 20px; }

.s-7__headline {
  text-align: center;
  margin-bottom: 70px;
  color: #091546;
  text-transform: uppercase; }

.slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slide__left, .slide__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slide__left {
  margin-right: 30px; }

.slide__top__item {
  width: 470px;
  min-height: 180px;
  border: 1px solid black;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 15px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 2px 5px grey;
          box-shadow: 1px 2px 5px grey;
  margin-bottom: 40px; }

.slide__bot__item {
  height: 300px;
  border-radius: 15px;
  background: #3e7998;
  position: relative;
  padding: 15px; }

.slide__bot__item p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

.cloud {
  position: absolute;
  top: -29px;
  right: 70px;
  width: 51px;
  height: 29px;
  background: url("../img/cloud.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.top__item__with__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider__logo {
  width: 50%;
  background: url("../img/sliderlogo.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.slide__right .slider__logo {
  background: url("../img/sliderlogo2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.slider__info p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin-bottom: 0;
  text-align: right;
  white-space: nowrap; }

.slider__info p:first-child {
  font-size: 20px; }

.slide__right .slide__bot__item p {
  font-size: 18px; }

.slide__right .slide__bot__item {
  padding-top: 40px; }

.slick-initialized .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.slick-prev, .slick-next {
  height: 54px !important;
  width: 18px !important; }

.slick-prev {
  background: url("../img/prev.png") !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  left: 0 !important; }

.slick-next {
  background: url("../img/next.png") !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  right: 0 !important; }

.slick-prev::before {
  content: '' !important; }

.slick-next::before {
  content: '' !important; }

/*Секция 8*/
.s-8 {
  min-height: 420px;
  background: #10288b;
  padding-top: 60px;
  padding-bottom: 20px;
  background-image: url("../img/s8bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 80%; }

.s-8__headline {
  text-align: center;
  color: #fff;
  text-transform: uppercase; }

.s-8__par {
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 60px; }

.s-8__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.s-8__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.s-8__inputs input {
  height: 40px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: none; }

.s-8__textarea textarea {
  resize: none;
  padding-left: 15px;
  padding-top: 15px;
  height: 100px;
  margin-bottom: 20px;
  border: none; }

.s-8__textarea input {
  text-transform: uppercase;
  color: #fff;
  height: 40px;
  margin-bottom: 20px;
  background: #6abee1;
  border: none;
  cursor: pointer; }

.s-9 {
  height: 70px;
  background: #fff; }

/*Секция 10*/
.s-10 {
  min-height: 750px;
  background: #52afe0;
  padding-top: 60px;
  padding-bottom: 20px; }

.s-10__headline {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 70px; }

.s-10__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.s-10__left__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px; }

.s-10__left__logo__img {
  width: 80px;
  height: 80px;
  background: url("../img/logo2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 30px; }

.s-10__left__logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.s-10__left__logo__text h4 {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #ffff04; }

.s-10__left__logo__text p {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #091546; }

.s-10__left p {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.s-10__horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px; }

.hor__left, .hor__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.hor__left {
  margin-right: 20px; }

.hor__left p {
  color: #ffff04;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.hor__right p {
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.soc__link {
  width: 45px;
  height: 45px;
  margin-right: 30px; }

.s-10__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.s-10__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#fb {
  background: url("../img/fb.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#tw {
  background: url("../img/twitter.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#ins {
  background: url("../img/inst.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/*Подвал*/
.footer {
  min-height: 250px;
  background: #4a4949;
  padding-top: 60px;
  padding-bottom: 20px; }

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px; }

.footer__links a {
  color: #929191 !important;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none; }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer__phone, .footer__mail {
  position: relative;
  color: #929191 !important;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-bottom: 10px; }

.footer__phone:before {
  content: '';
  position: absolute;
  width: 30px !important;
  height: 30px;
  background: url("../img/phone.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  left: -40px; }

.footer__mail:before {
  content: '';
  position: absolute;
  width: 30px !important;
  height: 30px;
  background: url("../img/mail.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  left: -35px; }

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.footer__soc__container {
  width: 45px;
  height: 45px;
  margin-right: 30px; }

#footer-fb {
  background: url("../img/fb.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#footer-tw {
  background: url("../img/twitter.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#footer-ins {
  background: url("../img/inst.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.hidden__link {
  display: none;
  text-align: center;
  text-transform: uppercase;
  color: #3fa6dd;
  font-size: 30px;
  text-decoration: underline; }

#container {
  position: absolute;
  right: 10px;
  display: none; }

.menu-btn {
  background: url("../img/hamb.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 66px;
  height: 36px;
  border: none; }

.overlay__modal {
  background: rgba(253, 225, 95, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000; }

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 80px;
  z-index: 1001;
  pointer-events: none;
  display: none; }

.overlay form {
  border-radius: 10px;
  background: #20b1df;
  min-height: 450px;
  padding: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
  position: relative;
  pointer-events: all; }

.overlay form h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: normal; }

.overlay__par {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: normal; }

.overlay form input[type="text"] {
  height: 60px;
  border: none;
  outline: none;
  padding-left: 15px;
  margin-bottom: 15px;
  width: 80%; }

.overlay form textarea {
  border: none;
  outline: none;
  resize: none;
  height: 130px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-top: 10px;
  width: 80%; }

.overlay__accept {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: black;
  width: 80%; }

.overlay form input[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  background: #125f99;
  width: 80%;
  height: 65px;
  font-weight: normal; }

input[type="submit"]:hover {
  opacity: 0.7; }

input[type="button"]:hover {
  opacity: 0.7; }

.navbar__items a {
  position: relative; }

.navbar__items a:after {
  content: '';
  width: 0px;
  background: #fff;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.navbar__items a:hover::after {
  content: '';
  width: 100%; }

.s-4__label:not(.s-4__label__active):hover {
  background: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

@media (max-width: 991px) {
  .navbar {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .hr-phone {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .header {
    background: url("../img/face.jpg");
    background-position: 50% 50%; }

  .s-2 {
    background: url("../img/s2bgmin.jpg");
    background-position: 50% 50%; }

  .s-2__container__img {
    width: 300px;
    height: 300px;
    background-size: contain; }

  .s-2__container__point__items p {
    font-size: 16px; }

  .s-2__container__point__items__active:after {
    width: 450px; }

  .s-2__container__desc__par {
    font-size: 16px; }

  .s-2__container__desc__link {
    font-size: 14px; }

  .s-2__container__desc {
    margin-top: 30px; }

  .s-3__right {
    margin-top: 30px; }

  .s-4__container__list {
    padding-left: 0; }

  .s-4__label__active {
    border-radius: 0px; }

  .s-5__table__td:first-child {
    font-size: 12px !important; }

  .s-5__table__td {
    font-size: 11px !important; }

  .s-5__end > div {
    padding-left: 20px; }

  .s-6__canvas {
    width: 600px !important; }

  .s-10__left__logo__text h4 {
    font-size: 16px;
    white-space: nowrap; }

  .s-10__left__logo__img {
    background-size: contain; }

  .s-10__left p {
    font-size: 12px;
    white-space: nowrap; }

  .footer__phone, .footer__mail {
    font-size: 14px;
    white-space: nowrap; }

  .s-6__canvas {
    height: 500px !important; }

  .s-6 {
    min-height: 600px; } }
@media (max-width: 1520px) {
  .s-2__container__point__items p {
    font-size: 18px; }

  .s-2__container__desc__par {
    font-size: 18px; }

  .s-2__container__desc__link {
    font-size: 16px; }

  .s-2__container__img {
    width: 320px;
    height: 320px;
    background-size: contain; }

  .s-2__container__point__items__active:after {
    width: 370px; }

  .s-3__item__headline {
    font-size: 24px; }

  .s-3__list__point {
    font-size: 14px; }

  .s-2__container__point {
    padding-top: 130px !important; } }
@media (min-width: 1366px) {
  .s-2__target {
    padding-top: 80px; }

  .s-2__container__point {
    padding-top: 150px; }

  .s-2__container__desc {
    -ms-flex-item-align: center;
        align-self: center; } }
@media (max-width: 1366px) {
  .s-2__container__point {
    padding-top: 50px !important; }

  .s-6__canvas {
    width: 900px; } }
@media (max-width: 1200px) {
  .s-2__container__point__items__active:after {
    width: 520px; }

  .s-2 {
    background: url("../img/s2bgmin.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover; }

  .s-3__item__headline {
    font-size: 20px; }

  .s-5__table__td:first-child {
    font-size: 14px; }

  .s-5__table__td {
    font-size: 12px; }

  .s-5__end > div {
    padding-left: 30px; }

  .footer__links {
    padding-left: 0; } }
@media (max-width: 767px) {
  .s-2__container__point__items__active:after {
    display: none; }

  .s-2__container__point__items__active {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; }

  .s-2__container__point__items {
    width: 320px; }

  .s-2__container__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }

  .s-2__target {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .s-3__center {
    margin-top: 30px; }

  .s-5__table__td:first-child {
    font-size: 11px !important; }

  .s-5__table__td {
    font-size: 10px !important; }

  .s-5__end > div {
    padding-left: 10px; }

  .s-5__bold > div {
    padding-left: 10px; }

  .s-2__container__point {
    padding-top: 0px !important; }

  .s-6__canvas {
    display: none; }

  .s-6__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .slide__bot__item {
    width: 320px !important; }

  .slide__top__item {
    width: 300px !important; }

  .slide__bot__item p {
    font-size: 12px; }

  .slider__info p {
    font-size: 12px; }

  .slider__logo {
    background-size: contain !important; }

  .s-10__soc {
    margin-bottom: 60px; }

  .s-10__left p {
    font-size: 14px; }

  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer__links a {
    font-size: 14px; }

  .footer__phone, .footer__mail {
    font-size: 14px;
    white-space: nowrap; }

  .footer__contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .footer__soc__container {
    width: 30px;
    height: 30px;
    background-size: contain !important;
    margin-left: -30px;
    margin-bottom: 20px;
    margin-right: 40px; }

  .s-5__gutters, .s-5__pretable, .s-5__separate__par {
    display: none; }

  .s-5__posttable {
    text-align: center;
    margin-top: 30px; }

  .hidden__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .s-5__separate {
    background: #fff; }

  .s-10__map {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media (max-width: 574px) {
  .hr-phone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .s-1__chief__bot__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .s-1__chief__bot__photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .s-1__chief__bot__photo, .s-1__chief__top__photo {
    margin-bottom: 15px; }

  .s-1__chief__bot__text, .s-1__chief__top__text {
    padding: 0; }

  .s-1__chief__bot__text h3, .s-1__chief__top__text h3 {
    text-align: center; }

  .s-1__chief__top {
    margin-bottom: 30px; }

  .s-2 {
    background-size: cover; }

  .s-4__headline {
    font-size: 24px; }

  .s-4__header {
    font-size: 20px; }

  .s-4__label {
    font-size: 14px; }

  .s-4__list__item {
    font-size: 14px; }

  .s-4__header {
    padding-left: 15px !important; }

  .s-4__target {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }

  .s-5__posttable {
    text-align: center; }

  .s-5__list li {
    font-size: 14px; }

  .s-5__postpar {
    font-size: 14px; }

  .slick-prev, .slick-next {
    display: none !important; }

  .slide__bot__item {
    width: 280px !important; }

  .slide__top__item {
    width: 260px !important; }

  .slide__bot__item p {
    font-size: 11px; }

  .slider__info p {
    font-size: 11px; } }
@media (min-width: 1360px) and (max-width: 1408px) {
  .slide__top__item {
    width: 420px; } }
@media (max-width: 1359px) {
  .slide__bot__item {
    width: 520px; }

  .slide__left {
    margin-right: 0; } }
@media (max-width: 479px) {
  .headline {
    font-size: 22px; }

  .face__list__item {
    font-size: 14px; }

  .face__list__item__right {
    margin-right: 20px; } }
@media (max-width: 320px) {
  .s-2__container__point__items {
    width: 270px; }

  .s-2__container__point__items p {
    font-size: 14px; }

  .s-3__item__btn {
    width: 230px; } }
@media (max-width: 530px) {
  .navbar {
    display: none; }

  #container {
    display: block; }

  .hr-phone {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 10px; }

  .face {
    padding-top: 150px; } }

/*# sourceMappingURL=style.css.map */